In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('car.csv')
df

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [6]:
df.columns

Index(['vhigh', 'vhigh.1', '2', '2.1', 'small', 'low', 'unacc'], dtype='object')

In [7]:
columns=['price','maintainence','doors','person','luggage','safety','decision']
df.columns=columns

In [8]:
df

      price maintainence  doors person luggage safety decision
0     vhigh        vhigh      2      2   small    med    unacc
1     vhigh        vhigh      2      2   small   high    unacc
2     vhigh        vhigh      2      2     med    low    unacc
3     vhigh        vhigh      2      2     med    med    unacc
4     vhigh        vhigh      2      2     med   high    unacc
...     ...          ...    ...    ...     ...    ...      ...
1722    low          low  5more   more     med    med     good
1723    low          low  5more   more     med   high    vgood
1724    low          low  5more   more     big    low    unacc
1725    low          low  5more   more     big    med     good
1726    low          low  5more   more     big   high    vgood

[1727 rows x 7 columns]

In [9]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
for i in df.columns:
    df[i]=label_encoder.fit_transform(df[i])
df

      price  maintainence  doors  person  luggage  safety  decision
0         3             3      0       0        2       2         2
1         3             3      0       0        2       0         2
2         3             3      0       0        1       1         2
3         3             3      0       0        1       2         2
4         3             3      0       0        1       0         2
...     ...           ...    ...     ...      ...     ...       ...
1722      1             1      3       2        1       2         1
1723      1             1      3       2        1       0         3
1724      1             1      3       2        0       1         2
1725      1             1      3       2        0       2         1
1726      1             1      3       2        0       0         3

[1727 rows x 7 columns]

In [13]:
for i in df.columns:
    print(i,' ',df[i].unique())

price   [3 0 2 1]
maintainence   [3 0 2 1]
doors   [0 1 2 3]
person   [0 1 2]
luggage   [2 1 0]
safety   [2 0 1]
decision   [2 0 3 1]

In [14]:
x=df.drop('decision',axis=1).values
y=df['decision']

In [15]:
x

array([[3, 3, 0, 0, 2, 2],
       [3, 3, 0, 0, 2, 0],
       [3, 3, 0, 0, 1, 1],
       ...,
       [1, 1, 3, 2, 0, 1],
       [1, 1, 3, 2, 0, 2],
       [1, 1, 3, 2, 0, 0]])

In [16]:
y

0       2
1       2
2       2
3       2
4       2
       ..
1722    1
1723    3
1724    2
1725    1
1726    3
Name: decision, Length: 1727, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=.7,test_size=.3)

In [18]:
from sklearn.ensemble import GradientBoostingClassifier

In [23]:
classifier=GradientBoostingClassifier()
classifier.fit(x_train,y_train)

GradientBoostingClassifier()

In [24]:
trained_values=classifier.predict(x_train)

In [25]:
from sklearn.metrics import accuracy_score
print("accuracy is ",accuracy_score(y_train,trained_values))

accuracy is  0.9900662251655629

In [ ]:
print("accuracy on test data is ",accuracy_score(y))